<!DOCTYPE html>
{% extends "AppBlogTB/padre.html"%}
{% load static %}

{% block section1 %}


<!-- section1 start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="job_section">
                    <h1 class="jobs_text"><p class style ="color: #2b7a96 ;font-family: Arial; font-size:160%">Bienvenidos</h1>
                        <br> <h1 class="jobs_text"><p class style ="color: #2b7a96 ;font-family: Arial; font-size:50%">Somos Claudia Botteon y Julieta Trapé.</h1>
                    <p class="dummy_text"><br><br>Nuestra preocupación es poner el conocimiento al alcance de todos.
                        <br><br>Hemos reunido a artículos de  reconocidos profesionales del área de las ciencias sociales, mayoritariamente especialistas en Economía.
                        <br><br>Son avalados por el sector educacional, investigativo y privado.</p>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="image_1 padding_0"> <img src= "{% static 'AppBlogTB/images/imgCJ.jpg' %}" height="400" width="400"></div>
            </div>
        </div>
    </div>
</div>
<!-- section1 end-->

{% endblock section1 %}