<!DOCTYPE html>
{% extends "AppBlogTB/padre.html"%}
{% load static %}

{% block section3 %}


<!-- section3 start-->

<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="job_section">
                    <h1 class="jobs_text"><p class style ="color: #2b7a96 ;font-family: Arial; font-size:160%">Comentarios</h1>
                    <p class="dummy_text">Los comentarios que se exponen han sido previamente revisados de manera de que constituyan aportes constructivos a los temas abordados en las publicaciones.</p>
                    <div class="apply_bt"><a href="{% url 'paginaConstruccion' %}">Apply now</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_0">
                <div class="image_1"><img src="{% static 'AppBlogTB/images/img-3.png' %}"></div>
            </div>
        </div>
    </div>
</div>
<!-- section3 end-->

{% endblock section3 %}