<!DOCTYPE html>
{% extends "AppBlogTB/padre.html"%}
{% load static %}

{% block section10 %}

<!-- section10 start-->
<!-- Industrial section start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="image_1 padding_0"><img src="{% static 'AppBlogTB/images/img-13.png' %}" height="5000" width="5000"></div>
            </div>
            <div class="col-md-6">
                <div class="job_section_2">
                    <h1 class="jobs_text"><p class style ="color: #2b7a96;font-family: Arial; font-size:160%">Muy pronto</h1>
                    <p class="dummy_text">Seguimos trabajando para ofrecerte más. </p>
                    <div class=><a href=>Paciencia</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section10 end-->

{% endblock section10 %}