<!DOCTYPE html>
{% extends "AppBlogTB/padre.html"%}
{% load static %}

{% block section2 %}

<!-- section2 start-->
<!-- Industrial section start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="image_1 padding_0"><img src="{% static 'AppBlogTB/images/img-11.png' %}" height="500" width="500"></div>
            </div>
            <div class="col-md-6">
                <div class="job_section_2">
                    <h1 class="jobs_text"><p class style ="color: #2b7a96;font-family: Arial; font-size:160%">Publicaciones</h1>
                    <p class="dummy_text">Los papers que se aceptan para ser publicados son sujetos a una estricta revisión a través del método de doble ciego. </p>
                    <div class="apply_bt"><a href="{% url 'Paperform' %}">Apply now <br> (Formulario Paper)</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section2 end-->

{% endblock section2 %}