<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p style="color: red"> Hola soy {{nombre}}
    <p style="color: green">"{{apellido}}" <p style = "color: blue"> y mis notas son: 
        
    {% for n in notas %}
    {% if n <= 6 %}
        <p style="color: red">Reprobado: {{n}}</p>
    {% else %}
        <p style="color: green">Aprobado: {{n}}</p>
    {% endif %}

    {% endfor %}

</body>
</html>